@import url('https://fonts.googleapis.com/css2?family=Poetsen+One&family=Radio+Canada+Big:ital,wght@0,400..700;1,400..700&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");
*,
*::after,
*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
::-webkit-scrollbar{
    display: none;
}
/* Custom variable */
:root{
    --primary: rgb(18, 18, 18);
    --secondary: white;
    --alternative: hsla(100, 13%, 28%, 0.7);
    --bgHeaderFooter: rgb(13, 162, 43);
    --awesome: rgb(137, 175, 72);
    --bgCAbout: #26d5f4;
    --mainBox-shadow: .2rem .2rem .1rem .2rem rgb(105, 96, 96, 0.75);
    --card-box-shadow: .5vw .5vw 1vw rgb(85, 94, 99, 0.9);
    --text-shadow: .3rem .3rem .4rem rgb(78, 107, 91, 0.5);
    --mainBg: hsla(145, 85%, 20%, 0.39);
    --bgImg: linear-gradient(to right, var(--awesome), var(mainBg));
}
@property --top-left {
    syntax: "<percantage>";
    inherits: false;
    initial-value: 50%;
}
@property --top-right {
    syntax: "<percantage>";
    inherits: false;
    initial-value: 50%;
}
@property --bottom--left {
    syntax: "<percantage>";
    inherits: false;
    initial-value: 0%;
}
@property --bottom-right {
    syntax: "<percantage>";
    inherits: false;
    initial-value: 0%;
}
/* navbar and footer */
:is(.navbar, footer){
    background: var(--bgHeaderFooter)
}
:is(.nav-link){
    color: var(--secondary);
}
/* Navbar-if you want to adjust the size of a picture in the navbar */
/* attribute selector make us of [] brackets
aspect-ratio is a combination of height and width
on object-fit if cover does not work make use of contain */
img[alt='logo']{
    width: 5rem;
    aspect-ratio: 1/1;
    object-fit: cover;
    object-position: center;
}
/* Grid Layout  */
:is(body){
    display: grid;
    text-align: center;
}
/* Create three rows , dvh-dynamic viewport height */
:is(body){
    grid-template-rows: auto 
    minmax(100%, 100dvh) auto;
}
/* Navbar */
a{
    transition: all .4s;
    &:hover{
        transform: scale(1.2);
        text-decoration: underline;
    }
}
body{
    font-family: "Radio Canada Big", sans-serif;
    background-color: rgb(50, 51, 50);
}
 
.flip-picture{
    background-color: transparent;
    width: 300px;
    height: 300px;
    perspective: 1000px;
    margin: 2rem;
  }
  
  .overlay {
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  }
  
  .flip-picture:hover .overlay {
    transform: rotateY(180deg);
  }
  
  .front-picture, .back-picture {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }
  
  .front-picture {
    background-color: #bbb;
    color: black;
  }
  
  .back-picture {
    background-color: #2980b9;
    color: white;
    transform: rotateY(180deg);
  }
  span{
    color: #2eb929;
  }
.moved-up{
    transform: translateY(-300px)
    
}
.card_preview-text{
    display: -webkit-box;
    -webkit-box-orient: vertical;
}
.img1{
    float:right;
    border: solid 5px;
    border-radius: 25px;
    border-color: #30f229;
}
.img-footer{
    float: right;
    margin: 20px;

}
.shadow{
    color: rgb(232, 237, 241);
}
.btn{
    color: white;
    background-color: #2eb929;
    float: inline-start;
}
